body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

/* Estilo do header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #295B8D;
    border-bottom: 2px solid #ddd;
    z-index: 10;
}

header img {
    height: 50px;
}

.user-box {
    position: absolute;
    top: -150px; /* Inicialmente fora da tela */
    right: 40px;
    background-color: #5C84AC;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
    display: block;
    width: 130px;
    height: auto;
    text-align: left;
    z-index: 2000;
    opacity: 0; /* Invisível inicialmente */
    transition: top 0.4s ease, opacity 0.4s ease; /* Adiciona a transição suave */
}

.user-box.show {
    top: 60px; /* Posição final quando visível */
    opacity: 1; /* Torna visível */
}

.user-box-img {
    display: block;
    margin: 0 auto 10px auto;
    width: 60px; /* Ajuste conforme necessário */
    height: 60px;
}

.user-option {
    display: flex;
    align-items: center;
    gap: 5px; /* Diminui o espaço entre o ícone e o texto */
    padding: 5px 0; /* Menos espaçamento ao redor do texto */
    cursor: pointer;
}

.user-option img {
    width: 20px;
    height: 20px;
}

.user-option p {
    margin: 0;
    color: #FFFFFF;
    font-family: 'Pridi';
    font-size: 14px; /* Tamanho menor para reduzir o espaço */
    font-weight: bold;
}

.user-option:hover {
    background-color: #4f769c;
    border-radius: 5px;
}

/* Logo à esquerda */
.menu {
    height: 26px; /* Ajuste da altura da logo */
    cursor: pointer;
}
#menu-lateral {
    cursor: pointer;
    position: absolute;
    top: 90px; /* Ajuste para ficar abaixo do header */
    left: -250px; /* Inicialmente fora da tela */
    width: 250px;
    background-color: white;
    color: #295B8D;
    transition: left 0.6s ease, box-shadow 0.5s ease;
    padding: 20px;
    z-index: 1;
    box-sizing: border-box;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Garante que o conteúdo fique dentro do menu */
}

/* Quando o menu estiver aberto */
#menu-lateral.aberto {
    left: 0px; /* Posiciona o menu na tela */
    box-shadow: 8px 0px 10px rgba(0, 0, 0, 0.5); /* Sombra quando aberto */
}   

.menu-lateral h2 {
    margin: 0 0 40px 0; /* Adiciona espaçamento abaixo do título */
    color: #295B8D;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.menu-lateral h3 {
    margin: 0;
    color: #295B8D;
    font-size: 22px;
    font-weight: bold;
    padding-left: 30px;
    margin-top: 10px;
    left: -90px;
}

.menu-opcoes p.subItem {
    margin: 0;
    color: #295B8D;
    font-size: 20px;
    padding-left: 22px;  /* Indentação para mostrar que é um subitem */
    margin-top: 5px; /* Aumente esse valor para descer mais */
    text-align: left;
    cursor: pointer;
}

.menu-opcoes p.subItem + p.subItem {
    margin-top: 5px;
}

.menu-opcoes p.subitens {
    margin: 0;
    color: #295B8D;
    font-size: 20px;
    padding-left: 22px;  /* Indentação para mostrar que é um subitem */
    margin-top: 5px; /* Aumente esse valor para descer mais */
    text-align: left;
    cursor: pointer;
}

.menu-opcoes p.subitens + p.subitens {
    margin-top: 5px;
}

/* Estilo para os novos textos <p> como subitens */
.menu-opcoes p.subitem {
    margin: 0;
    color: #295B8D;
    font-size: 20px;
    padding-left: 22px;  /* Indentação para mostrar que é um subitem */
    margin-top: -240px; /* Ajuste para aproximar "Abrir" mais do título */
    text-align: left;
    cursor: pointer;
}

/* Para garantir que o novo subitem apareça abaixo de "Abrir" */
.menu-opcoes p.subitem + p.subitem {
    margin-top: 5px; /* Ajuste para deixar um pequeno espaçamento entre "Abrir" e o novo subitem */
}

/* Imagem central da empresa */
.empresa {
    height: 25px; /* Altura igual à logo */
    border-radius: 50%; /* Faz a imagem ser circular */
    padding: 5px; /* Espaçamento interno para destacar */
}

.empresa-user {
    font-size: 16px; /* Aumentado para 20px */
    font-weight: bold; /* Deixa o texto mais destacado */
    color: white;
}

/* Imagem do usuário à direita */
.user {
    height: 45px; /* Altura igual à logo */
    cursor: pointer; /* Indica que é clicável */
    margin-top: 10px;
}

h2 {
    align-self: center;
    margin-top: 2rem;
    margin-left: 2rem; 
    font-size: 22px;
    color: #5C84AC;
}

h4 {
    color: white;
    font-size: 23px;
    margin-top: -10px;
    position: relative;
    left: -10px;
}

.container-botoes {
    display: inline-grid; /* Faz o container ter a largura exata dos botões */
    gap: 13px; /* Espaçamento entre os botões */
    justify-content: start; /* Alinha os botões à esquerda */
    grid-template-columns: repeat(2, auto); /* 2 colunas */
    padding-left: 2rem; /* Adiciona um espaço da esquerda */
    margin-top: 0.5rem;
    width: fit-content; /* Ajusta a largura ao conteúdo */
}

.container-botoes.hidden {
    visibility: hidden;
}

.seta {
    position: absolute; /* Posiciona a seta em relação ao #menu-container */
    right: -100px; /* Distância da seta em relação ao container */
    top: 5%; /* Ajuste esse valor para mover a seta mais para baixo */
    cursor: pointer; /* Cursor clicável */
    transition: right 0.3s ease; /* Transição suave para o movimento */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#menu-container {
    position: relative; /* Isso é essencial para o posicionamento da seta */
    display: inline-block; /* Ou outro valor, dependendo do layout */
}
.botao-com-imagens {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    width: 124px;
    height: 7rem;
    overflow: hidden;
}

.botao-com-imagens:hover {
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.4);
}

/* Ajustes para as imagens dentro do botão */
.botao-com-imagens .imagem-topo {
    max-width: 20px;
    height: auto;
    margin-bottom: 13px;
}

.botao-com-imagens .imagem-meio {
    max-width: 2.8rem;
    height: auto;
    margin-bottom: -1px;
}

.botao-com-imagens .texto-base {
    font-size: 13px;
    font-weight: bold;
    color: #295B8D;
    margin-top: auto; /* Empurra para o final sem aumentar o botão */
}

.caixa-descricao {
    width: 400px; /* Ajuste conforme necessário */
    max-width: 600px; /* Define uma largura máxima */
    height: 9rem; /* Ajuste conforme necessário */
    background-color: #acc7e0; /* Cor de fundo */
    border-radius: 15px; /* Cantos arredondados */
    padding: 15px; /* Espaçamento interno */
    margin: 2rem; /* Espaço entre o h2 e a caixa */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra leve */
    position: relative; /* Para permitir posicionamento absoluto dentro dela */
    gap: 15px;
}

.caixa-descricao p {
    margin: 10px 0; /* Espaçamento entre as frases */
    font-size: 18px; /* Ajuste o tamanho do texto conforme necessário */
    line-height: 1.0; /* Espaçamento maior entre as linhas */
    position: relative;
    left: 0px; /* Ajuste a posição se necessário */
    color: #295B8D;
}

/* Estiliza os botões */
.botoes-direita {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column; /* Deixa os botões empilhados verticalmente */
    gap: 10px; /* Espaçamento entre os botões */
}

/* Estilos dos botões */
.botao-pequeno {
    width: 38px;
    height: 35px;
    background-color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.botao-pequeno img {
    width: 23px;
    height: 23px;
}

.botao-pequeno1 {
    width: 38px;
    height: 35px;
    background-color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.botao-pequeno1 img {
    width: 23px;
    height: 23px;
}

.area-item {
    position: absolute;
    top: 4.7rem; /* Para ficar abaixo do header */
    right: 0;
    width: 28vh; /* Define a largura da área destacada */
    height: 53.5rem; /* Mesma altura da .caixa-descricao */
    background-color: #5C84AC; /* Cor de fundo diferente */
    padding: 20px; /* Espaço interno */
    overflow-y: auto; /* Adiciona rolagem se necessário */
    display: flex;
    flex-direction: column;
}

.area-item img {
    position: absolute;
    bottom: 5rem; /* Distância do fundo */
    right: 10px; /* Distância da lateral */
    width: 6.8rem; /* Ajuste o tamanho conforme necessário */
    height: auto;
}

.btn-ajuda {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
    width: 45%;
    height: 3vh;
    background: #ffff;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 15px;
    color: #295B8D;
    cursor: pointer;
    margin-left: 0.75rem;
    margin-top: 3rem;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    text-align: center; /* Garante centralização do texto */
}

.btn-ajuda:hover {
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.5);
}

.informacoes-produto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -400px; /* Ajuste esse valor conforme necessário */
}

.informacoes-produto p {
    color: white;
    font-size: 15px;
    margin-bottom: 5px; /* Reduz a distância do texto para o input */
}

.informacoes-produto input {
    width: 100%;
    padding: 25px; /* Aumenta o espaçamento interno */
    border: 1px solid #ccc;
    border-radius: 15px; /* Deixa os inputs arredondados */
    font-size: 16px; /* Aumenta o tamanho do texto dentro da caixa */
    transition: 0.3s ease-in-out;
    outline: none;
    background: #ffffff; /* Fundo levemente cinza */
    margin-top: 0; /* Remove qualquer espaçamento extra acima do input */
}

.espaco-em-branco {
    height: 15rem; /* Ajuste a altura conforme necessário */
    width: 100%; /* Preenche toda a largura disponível */
    margin-bottom: 33rem;
    background-color: white;
    border-radius: 15px;
    position: relative; /* Necessário para usar o posicionamento absoluto dentro dela */
}

.espaco-em-branco p {
    margin-top: 37%;
    font-size: 25px;
    margin-left: 58px;
    color: #F61515;
}

.mais-menos {
    top: 2rem;
}

#quantidade {
    display: inline-block;
    width: 4rem;  
    height: 3.1rem;  
    text-align: center;  
    line-height: 49px;  
    background-color: #acc7e0;  
    position: absolute;  /* Permite o ajuste preciso de posição */
    top: 20.02rem;  /* Ajuste o valor de acordo com a distância que deseja mover para cima */
    left: 50%;  /* Centraliza o span horizontalmente */
    transform: translateX(-48%);  /* Ajusta para um verdadeiro centro, levando em conta o próprio tamanho */
    pointer-events: none;
    color: #295B8D;
    font-weight: bold;
    font-size: 1.8rem;
}

.menos-botao {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;  /* Define um tamanho fixo para o botão */
    height: 2.5rem; /* Define um tamanho fixo para o botão */
    padding: 5px; /* Remove espaços internos excessivos */
    border: none; /* Remove borda, se necessário */
    background: none; /* Remove fundo extra */
    cursor: pointer; /* Mantém o cursor de clique */
    margin-top: 19.4rem; /* Ajusta a distância para baixo */
    margin-right: 53%;
}

.menos-botao img {
    width: 1.5rem;  /* Faz a imagem ocupar todo o botão */
    top: 23px;
    margin-left: 3px;
}

.mais-botao {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;  /* Define um tamanho fixo para o botão */
    height: 2.5rem; /* Define um tamanho fixo para o botão */
    padding: 5px; /* Remove espaços internos excessivos */
    border: none; /* Remove borda, se necessário */
    background: none; /* Remove fundo extra */
    cursor: pointer; /* Mantém o cursor de clique */
    margin-top: 19.4rem; /* Ajusta a distância para baixo */
    margin-right: 17.5%;
    align-items: center;
    justify-content: center;
}

.mais-botao img {
    width: 1.5rem;  /* Faz a imagem ocupar todo o botão */
    top: 12px;
    margin-left: 2px;
}

.botao-imagem {
    position: absolute;
    top: 10px; /* Distância do topo */
    right: 10px; /* Distância da direita */
    background-color: white; /* Cor de fundo do botão */
    border: none; /* Remove a borda */
    z-index: 1;
    cursor: pointer; /* Indica que é clicável */
    padding: 0; /* Remove o padding para a imagem ocupar todo o botão */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3); /* Sombra leve */
    transition: box-shadow 0.3s ease-in-out; /* Efeito de transição */
    width: 3.3rem; /* Ajuste a largura do botão */
    height: 3.1rem; /* Ajuste a altura do botão */
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
}

.botao-imagem:hover {
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.5); /* Efeito ao passar o mouse */
}

.botao-imagem img {
    max-width: 34px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto;
    left: 11px;
    bottom: 8px;
}

.botao-li {
    position: absolute;
    top: 10px;
    right: 10px; 
    background-color: white; 
    border: none; 
    cursor: pointer; 
    padding: 0; 
    border-radius: 10px; 
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3); 
    transition: box-shadow 0.3s ease-in-out; 
    width: 54px; 
    height: 50px; 
    display: flex;
    align-items: center; 
    justify-content: center;
}

.botao-li img {
    max-width: 34px; 
    height: auto;
    bottom: 8px;
}

.caixa-total {
    width: 25rem; /* Mesmo tamanho da .caixa-descricao */
    max-width: 37.5rem; /* Mantém uma largura máxima */
    height: 9.8rem; /* Ajuste conforme necessário */
    background-color: #295B8D; /* Mesma cor de fundo */
    border-radius: 15px; /* Cantos arredondados */
    padding: 10px; /* Espaçamento interno */
    margin-top: -13.5rem; /* Ajuste para alinhar com o h3 */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra leve */
    text-align: center; /* Alinha o texto ao centro */
    font-weight: bold;
    color: white;
    position: relative;
    left: 45rem; /* Ajuste para alinhar com o h3 */
}

.caixa-total p {
    margin: 5px 0; /* Espaçamento entre os textos */
    font-size: 58px;
    left: -80px;
    position: relative;
    margin-top: 22px;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: auto;
    padding-top: 60px;
}

/* Modal Content */
.modal-content {
    background-color: white;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 48%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

}

#informarClienteModal h2 {
    text-align: center;
}

#informarClienteModal .modal-left {
    margin-left: 20px;
}

#informarClienteModal .modal-right {
    margin-top: 8px;
}

/* Parte superior do Modal (horizontal) */
.modal-top {
    flex: 0 1 70px; /* Controla o tamanho do topo */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Parte inferior do Modal (restante) */
.modal-bottom {
    flex: 1;
    display: flex;
    flex-direction: row; /* Divisão horizontal */
}

/* Dividir a parte inferior em 2 colunas verticais */
.modal-left {
    width: 48%;
    padding-right: 10px;
    color: #5C84AC;
}

.modal-right {
    width: 48%;
    padding-left: 10px;
}

/* Campo de entrada de texto */
.modal-section .input-field {
    color: #808080;
    width: 88%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #5C84AC;
    border-radius: 8px;
    font-size: 16px;
}

/* Estilo do botão */
.finalizar-venda {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 11rem;
    margin-left: 6.5rem;
}

.valor-container .input-field {
    width: 88%;
    padding: 10px;
    border: 2px solid #5C84AC;
    border-radius: 8px;
    font-size: 16px;
    margin-left: 1.3rem;
}

.finalizar-venda:hover {
    background-color: #45a049;
}

.esc1-btn {
    padding: 10px 20px;
    background-color: #d40606;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 3.0rem;
}

.esc1-btn:hover {
    background-color: #d40606;
}

.esc2-btn {
    padding: 10px 20px;
    background-color: #d40606;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 4rem;
    margin-left: 2.5rem;
}

.esc2-btn:hover {
    background-color: #d40606;
}

.esc7-btn {
    padding: 10px 20px;
    background-color: #d40606;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 4rem;
}

.esc7-btn:hover {
    background-color: #d40606;
}

.esc9-btn {
    padding: 10px 20px;
    background-color: #d40606;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 4rem;
}

.esc9-btn:hover {
    background-color: #d40606;
}

.esc10-btn {
    padding: 10px 20px;
    background-color: #d40606;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 4rem;
    margin-left:1.5rem;
}

.esc10-btn:hover {
    background-color: #d40606;
}

.enter1-btn{
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 3rem;
    margin-right: 5rem;
    }
        
    .enter1-btn:hover {
        background-color: #45a049;
    }
        
.enter7-btn{
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-left:3rem;
    }
            
    .enter7-btn:hover {
        background-color: #45a049;
    }
        
.enter10-btn{
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 6rem;
    }
    
    .enter10-btn:hover {
        background-color: #45a049;
    }

.enter10-btn{
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 13.8rem;
    }
    
    .enter10-btn:hover {
        background-color: #45a049;
    }

.limpar-btn{
    padding: 10px 20px;
    background-color: #295B8D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    }
        
    .limpar-btn:hover {
        background-color: #295B8D;
    }

.gravar-btn{
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    }
            
    .gravar-btn:hover {
        background-color: #45a049;
    }
    


.total p {
    font-size: 18px;
    font-weight: bold;
}

.modal-right p {
    margin-bottom: 10px;
    font-size: 0.90rem;
}

/* Valor e botão "Finalizar Venda" na parte inferior direita */
.valor-container {
    color: #5C84AC;
    margin-top: 40px;
}

/* Ajuste do layout para os campos na parte esquerda */
.modal-left .modal-section {
    margin-bottom: 10px;
}

/* Organização horizontal para Item, Forma de Pagamento e Valor */
.modal-right .horizontal-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #ddd;
    border-radius: 5px;
    border-color: #5C84AC;
    padding: 10px;
}

.horizontal-box div {
    flex: 1;
    text-align: center;
}

.horizontal-box div:not(:last-child) {
    border-right: 2px solid #ddd;
}
    /* Modal de Vendedores */
#vendedoresModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: auto;
    padding-top: 60px;
}
/* Fechar botão */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* Subtítulo logo abaixo do título */
.subtitulo {
    font-size: 16px;
    text-align: center;
    margin: 10px 0;
    font-weight: bold;
    color: #1f456b;
}

/* Estilo para a lista de vendedores */
.vendedores-list {
    margin-top: 20px;
    padding: 10px;
}

/* Estilo de cada item da lista de vendedores */
.vendedores-item {
    background-color: #f4f4f4; /* Cor de fundo da caixinha */
    color: #1f456b;
    padding: 10px;
    margin: 5px 0;  /* Espaçamento entre os itens */
    text-align: center;  /* Centraliza o texto */
    font-size: 16px;
    display: inline-block;  /* Faz com que fiquem organizados em linha */
    width: 100%;
    border: none;
}

/* Estilo para o rodapé das instruções */
.modal-footer {
    display: flex;
    justify-content: space-between;  /* Espaça as instruções para os dois lados */
    margin-top: 20px;
}

/* Estilo das instruções */
.instruction {
    background-color: #f4f4f4;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    width: 48%;
    border-radius: 5px;  /* Bordas arredondadas */
    margin: 0;
}

/* Instrução do lado esquerdo */
.left {
    text-align: left;
}

/* Instrução do lado direito */
.right {
    text-align: right;
}

#informarMaisDadosBtn {
    width: 60%;
    height: 5vh;
    margin-top: 9rem;
    margin-left: 5.5rem;
    background-color: #5C84AC;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

.CaixaModal-header h2 {
    text-align: center;
    font-size: 24px; 
    font-weight: bold;
    margin-bottom: 20px;
}

.CaixaModal-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Adiciona espaçamento em cima de tudo */
}

.CaixaModal-left,
.CaixaModal-right {
    width: 48%; /* Controla a largura de cada coluna */
    display: flex;
    flex-direction: column;
}

.modal-section {
    color: #5C84AC;
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    margin-bottom: 5px;
    color: #5C84AC;
}

input[type="text"] {
    padding: 8px;
    font-size: 14px;
    width: 100%;
    border-color: #5C84AC;
    box-sizing: border-box; /* Garante que o padding não altere o tamanho do input */
}

.instructions {
    color: #5C84AC;
    align-self: center;
    font-size: 14px;
    margin-top: 10px;
}

/* Estilo para o botão de Fechar Caixa dentro do modal */
#fecharCaixaBtn {
    position: absolute;  /* Faz o botão ficar dentro do modal */
    bottom: 20px;        /* Ajuste a distância para 20px do fundo do modal */
    left: 50%;           /* Centraliza o botão horizontalmente */
    transform: translateX(-50%);  /* Corrige o alinhamento para centralizar */
    background-color: #6200ea;  /* Cor de fundo do botão */
    color: white;     /* Cor do texto */
    padding: 5px 15px;  /* Tamanho do botão (pequeno) */
    border: none;     /* Remove a borda */
    border-radius: 5px;  /* Cantos arredondados */
    font-size: 14px;   /* Tamanho de fonte pequeno */
    cursor: pointer;  /* Mostra o ponteiro do mouse */
    transition: background-color 0.3s ease;  /* Efeito ao passar o mouse */
}

#fecharCaixaBtn:hover {
    background-color: #3700b3;  /* Cor mais escura ao passar o mouse */
}

#fecharCaixaBtn:focus {
    outline: none;  /* Remove o contorno do foco */
    box-shadow: 0 0 0 2px #3700b3;  /* Adiciona um destaque quando o botão é focado */
}

.modal-row {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

   /* Responsividade */
   @media (max-width: 768px) {
    header {
      font-size: 4rem;
    }

    header img {
        width: 4rem;
        height: 3rem;
    }
  
    .menu {
        width: 1.5rem;
        height: 1rem;
    }

    #menu-lateral {
        position: absolute;
        top: 90px; 
        left: -250px; 
        width: 250px;
        padding: 20px;
    }

    .menu-lateral h2 {
        font-size: 2rem;
    }
    
    .menu-lateral h3 {
        font-size: 1rem;
    }
    
    .menu-opcoes p.subItem {
        font-size: 20px;
        padding-left: 22px; 
        margin-top: 5px; 
    }
    
    .menu-opcoes p.subItem + p.subItem {
        margin-top: 5px;
    }
    
    .empresa-user {
        font-size: 16px; 
        font-weight: bold; 
    }
    
    .user {
        height: 45px; /* Altura igual à logo */
        cursor: pointer; /* Indica que é clicável */
        margin-top: 10px;
    }
    
    h2 {
        margin-top: 1.5rem;
        margin-left: 1.5rem; 
        font-size: 1rem;
    }
    
    h4 {
        font-size: 1rem;
        margin-top: 0.5rem;
        left: 1rem;
    }
    
    .container-botoes {
        gap: 13px; 
        padding-left: 1rem; 
        margin-top: 0.3rem;
    }
    
    .botao-com-imagens {
        padding: 0.5rem;
        width: 6rem;
        height: 5rem;
    }
    
    .botao-com-imagens .imagem-topo {
        max-width: 1rem;
        margin-bottom: 0.9rem;
    }
    
    .botao-com-imagens .imagem-meio {
        max-width: 1.5rem;
    }
    
    .botao-com-imagens .texto-base {
        font-size: 0.8rem;
    }
    
    .caixa-descricao {
        width: 23rem;
        max-width: 35rem;
        height: 7rem;
        padding: 10px; 
        margin: 2rem;
        gap: 10px;
    }
    
    .caixa-descricao p {
        margin: 3px 0; 
        font-size: 13px; 
        line-height: 1.3;
    }
    
    .botoes-direita {
        top: 8px;
        right: 8px;
        gap: 8px; /* Espaçamento entre os botões */
    }
    
    /* Estilos dos botões */
    .botao-pequeno {
        width: 2rem;
        height: 1.8rem;
        padding: 3px;
    }
    
    .botao-pequeno img {
        width: 18px;
        height: 18px;
    }

    .botao-pequeno1 {
        width: 2rem;
        height: 1.8rem;
        padding: 3px;
    }
    
    .botao-pequeno1 img {
        width: 18px;
        height: 18px;
    }
    
    .area-item {
        width: 23vh; 
        height: 49rem; 
        padding: 0.5rem; 
        overflow: hidden;
    }
    
    .area-item img {
        bottom: 2px; 
        right: 5px; 
        width: 5rem;
    }
    
    .informacoes-produto {
        margin-top: -22rem; 
    }
    
    .informacoes-produto p {
        font-size: 12px;
        margin-bottom: 3px; 
    }
    
    .informacoes-produto input {
        padding: 22px; 
        font-size: 0.8rem; 
    }
    
    .espaco-em-branco {
        height: 12rem; 
        width: 100%; 
        margin-bottom: 30rem;
    }
    
    .espaco-em-branco p {
        margin-top: 30%;
        font-size: 20px;
        margin-left: 3rem;
    }
    
    .mais-menos {
        top: 2rem;
    }
    
    #quantidade {
        width: 3rem;  
        height: 2.5rem;  
        z-index: 1;  
        line-height: 3rem;  
        top: 16.5rem;  /* Ajuste o valor de acordo com a distância que deseja mover para cima */
        left: 50%;  /* Centraliza o span horizontalmente */
        font-size: 1.8rem;
    }
    
    .menos-botao {
        width: 2.5rem;  /* Define um tamanho fixo para o botão */
        height: 2.5rem; /* Define um tamanho fixo para o botão */
        padding: 5px; /* Remove espaços internos excessivos */
        margin-top: 16rem; /* Ajusta a distância para baixo */
        margin-right: 55%;
    }
    
    .menos-botao img {
        width: 1rem;  /* Faz a imagem ocupar todo o botão */
        top: 23px;
        margin-left: 3px;
    }
    
    .mais-botao {
        width: 2.5rem;  /* Define um tamanho fixo para o botão */
        height: 2.5rem; /* Define um tamanho fixo para o botão */
        padding: 5px; /* Remove espaços internos excessivos */
        margin-top: 16rem; /* Ajusta a distância para baixo */
        margin-right: 25%;

    }
    
    .mais-botao img {
        width: 1rem;  /* Faz a imagem ocupar todo o botão */
        top: 12px;
        margin-left: 2px;
    }
    
    .botao-imagem {
        top: 10px; /* Distância do topo */
        right: 10px; /* Distância da direita */
        width: 45px; /* Ajuste a largura do botão */
        height: 35px; /* Ajuste a altura do botão */
    }
    
    .botao-li {
        top: 10px; 
        right: 10px; 
        width: 45px; 
        height: 35px; 
    }

    .botao-imagem img {
        max-width: 34px; /* Ajuste o tamanho da imagem conforme necessário */
        height: auto;
        left: 11px;
        bottom: 8px;
    }
    
    .caixa-total {
        width: 25rem; /* Mesmo tamanho da .caixa-descricao */
        max-width: 37.5rem; /* Mantém uma largura máxima */
        height: 9.8rem; /* Ajuste conforme necessário */
        padding: 10px; /* Espaçamento interno */
        margin-top: -13.5rem; /* Ajuste para alinhar com o h3 */
        left: 45rem; /* Ajuste para alinhar com o h3 */
    }
    
    .caixa-total p {
        margin: 5px 0; /* Espaçamento entre os textos */
        font-size: 58px;
        left: -80px;
        margin-top: 22px;
    }
    
    .modal {
        width: 100%;
        height: 100%;
        padding-top: 60px;
    }
    
    .modal-content {
        margin: 5% auto;
        padding: 20px;
        width: 70%;
    }
    
    .modal-top {
        flex: 0 1 70px;
    }
    
    .modal-left {
        width: 48%;
        padding-right: 10px;
    }
    
    .modal-right {
        width: 48%;
        padding-left: 10px;
    }
    
    /* Estilo das seções */
    .modal-section {
        margin-bottom: 15px;
    }
    
    /* Campo de entrada de texto */
    .input-field {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        font-size: 16px;
    }
    
    /* Estilo do botão */
    .finalizar-venda {
        padding: 10px 20px;
        margin-top: 20px;
    }
    
    .total p {
        font-size: 18px;
    }
    
    .modal-right p {
        margin-bottom: 10px;
        font-size: 0.9rem;
    }
    
    .valor-container {
        margin-top: 40px;
    }
    
    .modal-left .modal-section {
        margin-bottom: 10px;
    }
    
    .modal-right .horizontal-box {
        padding: 10px;
    }
    
    .modal-content {
        margin: 5% auto;
        padding: 20px;
        width: 70%;
    }
    
    .subtitulo {
        font-size: 16px;
        margin: 10px 0;
    }
    
    /* Estilo para a lista de vendedores */
    .vendedores-list {
        margin-top: 20px;
        padding: 10px;
    }
    
    /* Estilo de cada item da lista de vendedores */
    .vendedores-item {
        padding: 10px;
        margin: 5px 0;  /* Espaçamento entre os itens */
        font-size: 16px;
        width: 100%;
    }

    /* Estilo para o rodapé das instruções */
    .modal-footer {
        margin-top: 20px;
    }
    
    /* Estilo das instruções */
    .instruction {
        padding: 10px;
        font-size: 14px;
        width: 48%;
    }
    
    /* Estilo do Modal - CaixaModal e CaixaModalfechada */
    .modal-content {
        padding-top: 20px; /* Adiciona um espaço no topo para o título */
    }
    
    .CaixaModal-header h2 {
        font-size: 24px; /* Tamanho maior para o título */
        margin-bottom: 20px; /* Espaço abaixo do título */
    }
    
    .CaixaModal-bottom {
        margin-top: 20px; /* Adiciona espaçamento em cima de tudo */
    }
    
    .CaixaModal-left,
    .CaixaModal-right {
        width: 48%; /* Controla a largura de cada coluna */
    }
    
    .modal-section {
        margin-bottom: 20px;
    }
    
    label {
        font-size: 16px;
        margin-bottom: 5px;
    }
    
    input[type="text"] {
        padding: 8px;
        font-size: 14px;
    }
    
    .instructions {
        font-size: 14px;
        margin-top: 10px;
    }
    
    /* Estilo para o botão de Fechar Caixa dentro do modal */
    #fecharCaixaBtn {
        bottom: 20px;        /* Ajuste a distância para 20px do fundo do modal */
        left: 50%;           /* Centraliza o botão horizontalmente */
        padding: 5px 15px;  /* Tamanho do botão (pequeno) */
        font-size: 14px;   /* Tamanho de fonte pequeno */
    }
}

#modalNota {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

/* Conteúdo da Nota Fiscal */
.nota-fiscal {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    font-family: Arial, sans-serif;
    border: none;
}

.nota-fiscal h3 {
    margin: 0;
    font-size: 16px;
}

.nota-fiscal p {
    margin: 5px 0;
    font-size: 14px;
}

.linha {
    border-bottom: 1px dashed black;
    margin: 5px 0;
}

.itens {
    text-align: left;
    font-size: 13px;
    margin: 10px 0;
}

.itens div {
    display: flex;
    justify-content: space-between;
}

.total {
    font-weight: bold;
    font-size: 15px;
}

.fechar {
    margin-top: 10px;
    padding: 5px 15px;
    background-color: #295B8D;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.fechar:hover {
    background-color: #1f456b;
}

#visualizacaoItens {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#visualizacaoItens .modal-content {
    background-color: #fff;
    margin: 2% auto; /* Mantém centralizada */
    padding: 20px;
    width: 50%; /* Mantém a mesma largura */
    height: 60vh; /* Aumenta a altura para 60% da altura da tela */
    max-height: 90vh; /* Garante que não ultrapasse a tela */
    border-radius: 15px;
    border: none;
    overflow-y: auto; /* Adiciona rolagem se necessário */
}


#visualizacaoItens .modal-header {
    display: flex;
    justify-content: center; /* Centraliza o conteúdo */
    align-items: center;
    text-align: center;
    position: relative;
}

#visualizacaoItens .modal-body {
    margin-top: 10px;
}

#visualizacaoItens table {
    width: 100%;
    border-collapse: collapse;
}

#visualizacaoItens table, 
#visualizacaoItens th, 
#visualizacaoItens td {
    border: 2px solid #295B8D;
    text-align: center;
    padding: 8px;
}

#visualizacaoItens th:nth-child(1),
#visualizacaoItens td:nth-child(1) {
    width: 17%; /* Ajuste conforme necessário */
    min-width: 80px; /* Define um tamanho mínimo */
    max-width: 120px; /* Define um tamanho máximo */
}

#visualizacaoItens th:nth-child(2),
#visualizacaoItens td:nth-child(2) {
    width: 15%; /* Ajuste conforme necessário */
    min-width: 80px; /* Define um tamanho mínimo */
    max-width: 120px; /* Define um tamanho máximo */
}

#visualizacaoItens th:nth-child(3),
#visualizacaoItens td:nth-child(3) {
    width: 50%; /* Ajuste conforme necessário */
    min-width: 80px; /* Define um tamanho mínimo */
    max-width: 120px; /* Define um tamanho máximo */
}

#visualizacaoItens th {
    background-color: white;
    color: #295B8D;
    font-family: 'Pridi';
    font-weight: normal;
}

.imagens-item {
    display: flex;
    flex-direction: column; /* Deixa as imagens em coluna (uma abaixo da outra) */
    align-items: center; /* Centraliza as imagens horizontalmente */
    gap: 5px; /* Espaçamento entre as imagens */
}

.imagens-item img {
    width: 50px; /* Ajuste o tamanho conforme necessário */
    height: 50px;
    border-radius: 5px; /* Deixa as bordas levemente arredondadas */
}

#novoModal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#novoModal .modal-content {
    background-color: #fff;
    margin: 2% auto; /* Mantém centralizada */
    padding: 20px;
    width: 40%; /* Mantém a mesma largura */
    height: 63vh; /* Aumenta a altura para 60% da altura da tela */
    max-height: 90vh; /* Garante que não ultrapasse a tela */
    border-radius: 15px;
    border: none;
    overflow-y: auto; /* Adiciona rolagem se necessário */
    border: 3px solid #295B8D;
}

.clicavel {
    cursor: pointer;
}

#novoModal .modal-header {
    text-align: center;
    width: 100%;
}

#novoModal .close {
    position: relative;
    top: -85px;
}

#novoModal .imagem-centralizada {
    display: block;
    width: 80%;  /* Ajuste conforme necessário */
    max-width: 600px;  /* Define um tamanho máximo */
    max-height: 80vh;  /* Aumenta a altura máxima */
    margin: 0 auto;
    border-radius: 10px;
}

#novoModal .imagem-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#novoModal #imagemExpandida {
    width: 40%; /* Ajuste para maior tamanho */
    max-width: 500px; /* Aumenta o tamanho máximo */
    max-height: 90vh;
    display: block;
}

#novoModal .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    overflow: hidden; /* Impede que o conteúdo force a barra de rolagem */
}

#novoModal #nomeImagem {
    font-size: 25px;
    font-family: 'Pridi';
    color: #295B8D;
    margin-top: 30px; /* Reduzi para evitar o overflow */
    padding: 5px;
    max-width: 100%; /* Garante que o nome não ultrapasse os limites */
    white-space: nowrap; /* Impede que o texto quebre para outra linha */
    text-overflow: ellipsis; /* Adiciona "..." se o nome for muito longo */
}

#novoModal .botoes-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* Permite posicionar os botões de forma absoluta dentro do container */
    margin-top: 20px;
    width: 100%; /* Garante que ocupe toda a largura do modal */
}

#novoModal .botoes-container button {
    background: none;
    border: none;
    padding: 5px;
    position: absolute; /* Permite mover os botões para os cantos */
    top: 50%;
    transform: translateY(-50%); /* Centraliza verticalmente */
}

#novoModal .botoes-container #botaoEsquerda {
    margin-top: 4px;
    left: 10px; /* Move para a esquerda */
}

#novoModal .botoes-container #botaoDireita {
    margin-top: 4px;
    right: 10px; /* Move para a direita */
}

#novoModal .botoes-container img {
    width: 35px; /* Ajuste o tamanho da imagem do botão */
    height: 35px;
    cursor: pointer;
}
